.pagenation{

display: flex;
justify-content: center;
align-items: center;
padding: 5px;
 
margin-bottom: 20px;
}
.page{
  background-color: aliceblue;

  width: 40px;
  height: 40px;
 
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 20px;
    font-weight: bold;
    color: #430096;
 cursor: pointer;
 border: 1px solid #44009649;
}
.page.prev,
.page.next{
  width: max-content;
  padding: 0 10px;
}
.page.prev{
  background-color: aliceblue;

  border: 1px solid #44009649;
  border-radius: 3px 0 0 3px;
}
.page.next{
  background-color: aliceblue;
  border: 1px solid #44009649;
  border-radius: 0 3px 3px 0 ;
}
.active{

  background-color: #4e00ac;
  color: aliceblue;
}
button:disabled{ 
 cursor: no-drop;
}