 
.home-hero-header{
  height: 250px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.home-hero-header-layout{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

}
.home-title{
  font-size: 3rem;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 3px;
  background-color:var(--main-color);
  color: var(  --body-color);
   
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;

}
.home-title:hover{
  border: 0.5px solid var(--primary-color);
  transform: scale(1.1);
 
}
.home-latest-post{
  margin-left: 30px;
  padding-bottom: 5px;
  color: var(  --main-color);
 
  font-size: 2.5rem;
  width: max-content;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--primary-color);
  
}
.home-container{
  padding: 0 30px;
  display: flex;
  align-items: flex-start;
}
.home-see-posts {
  padding: 0 20px;
  margin: 15px 0;
}
.home-see-posts .home-link{
width: 95%;
padding: 10px;
font-size: 21px;
background-color: var(--gray-color);
color: var(--white-secondary-color);
font-weight: 500;
display: block;
border: none;
cursor: pointer;
text-align: center;
margin: 1px auto;
transition: all 0.3s ease-in-out;

}
.home-see-posts .home-link:hover{
  transform: scale(1.1);
}
 /* Media Quries */
 @media (max-width:990px) {
  .home-title{
    font-size: 30px;
    text-align: center;
  }
  .home-container{
    flex-direction: column;
    align-items: center;
  }
  .post-item {
    width: auto;
 }
 }
 @media (max-width:520px) {
   
  .home-container{
    padding: 0 15px;
   
  }
  .home-latest-post{
    margin-left: 15px;
  }
  .post-list {
    flex-direction: column;
    align-items: center;
  }
  .post-item {
     width: auto;
  }

 }